{% extends "witchers/base.html" %}
{% load static %}

{% block title %}Nowe ogłoszenie{% endblock %}

{% block content %}
<div class="float-center">
    <form id="advForm" method="POST" action="."  class="col-lg-8 p-4 mx-lg-auto rounded " enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="mb-sm-3">Dodaj ogłoszenie</h1>
        <div class="form-group">
            <label for="{{ form.category.id_for_label }}">Typ</label>
            {{ form.category }}
            {{ form.category.errors }}
        </div>

        <div class="form-group">
            {{ form.title }}
            {{ form.title.errors }}
            <span class="prompt">Może zawierać litery, cyfry, spację oraz .?!. Długość od 3 do 64</span>
        </div>

        <div class="form-group">
            {{ form.price }}
            {{ form.price.errors }}
            <span class="prompt"> Liczba od 0 do 20000, Format 0.00,12 lub 1,3</span>
        </div>
        
        <div class="form-group">
            {{ form.image }}
            {{ form.image.errors }}
            <span class="prompt">Lepiej gdy ogłoszenie jest z obrazkiem</span>
        </div>

        <div class="form-group">
            {{ form.description }}
            {{ form.description.errors }}
            <span class="prompt">Dopuszczalne: cyfry,litery,spacje oraz ,.?!-:(). Długość od 10 do 400</span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btnForHyper mb-2">Dodaj</button>
        </div>
    </form>

</div>
{% endblock %}
