{% load static %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta http-equiv="X-Ua-Compatible" content="IE=edge">


        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <link rel="stylesheet" href="{% static "css/formA.css" %}">
        <link rel="stylesheet" href="{% static "css/myA.css" %}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
                               integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="panel panel-default h-100">
            <div class="panel-heading">
                <nav class="navbar px-2 py-2">
                    <a class="navbar-brand logo align-inline" href="{% url "main_page" %}"><h5 id="nameOfSite" class=" d-block d-sm-inline-block align-bottom">The Witcherolx</h1></a>
                    <div class=" d-inline-block   mr-sm-3 align-inline">
                        <a href="{% url "add_ad" %}"> <i class="fas fa-plus fa-lg ml-sm-auto mx-auto"></i></a>
                        <a class="notification d-inline-block mr-md-3" href="{% url "unread_comments" %}">
                            <i class="far fa-bell fa-lg ml-sm-auto mx-auto">
                                {% if request.user.extension.get_notification_count > 0 %}
                                <span class="badge badgeNotifi">{{ request.user.extension.get_notification_count }}</span>
                                {% endif %}
                            </i>
                        </a> 
                        <div class="d-none d-md-inline-block dropdown" id="panel">
                            <img class=" rounded-circle mx-sm-auto avatar" src="{{ request.user.extension.get_avatar }}">
                            <a class="dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                                                                                     aria-haspopup="true" aria-expanded="false">{{ request.user.extension.get_name }}</a>
                            <div class="dropdown-menu mainmenu dropdown-menu-right" id=" "
                                                                                    aria-labelledby="dropdownMenuUser">
                                <a class="dropdown-item" href="{% url "my_ads" %}">Moje Ogłoszenia</a>
                                {% if request.user.extension.type == "witcher" %}
                                    <a class="dropdown-item" href="{% url "witchers_stats"%}">Wiedźminśka strona</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url "commented_ads"%}">Zkomentowane ogłoszenia</a>
                                <a class="dropdown-item" href="{% url "add_ad" %}">Dodaj Ogloszenie</a>
                                <a class="dropdown-item" href="{% url "account_edit" %}">Edytuj Profil</a>
                                <a class="dropdown-item" href="{% url "logout" %}">Wyloguj</a>
                            </div>
                        </div>

                        <button class="navbar-toggler d-md-none btnForHyper" id="menuButt">
                            <i class="fas fa-align-justify"></i>
                        </button>

                    </div>
                </nav>
                <div id="searchMenu" class="col-md-10 col-11 mx-auto  py-2 h-auto text-center">
                    {% if not disable_search %}
                    <div class="collapse navbar-collapse d-md-block" id="search">
                        <form method="get" action="." id="searchForm" class="d-flex row mx-auto">
                            <div class="d-block d-md-flex mx-auto p-2 ">
                                <select id="category" name="category" class="mb-2 mx-auto mr-md-2 col-12 col-md-3 col-lg-3">
                                    <option value="">Dowolna kategoria</option>
                                    {% for category in categories %}
                                        {% if category.name == args.category %}
                                            <option value="{{ category.name }}" selected="selected">{{ category.name }}</option>
                                        {% else %}
                                            <option value="{{ category.name }}">{{ category.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <input type="text" class="mx-auto mb-2 mr-md-2 col-12 col-md-2 col-lg-2" id="nazwaProduktu"
                                                                                                     placeholder="Nazwa"
                                                                                                     name="title"
                                                                                                     value="{{ args.title }}">
                                <input type="number" class="mb-2 mx-auto mr-md-2 col-12 col-md-2 col-lg-2" id="priceFrom"
                                                                                                       placeholder="Cena Od"
                                                                                                       name="price_bottom"
                                                                                                       value="{{ args.price_bottom }}">
                                <input type="number" class="mb-2 mx-auto mr-md-2 col-12 col-md-2 col-lg-2" id="priceTo"
                                                                                               placeholder="Cena Do"
                                                                                               name="price_top"
                                                                                               value="{{ args.price_top }}">
                                <select id="sort" name="sort" class="mb-2 mx-auto mr-md-2 col-12 col-md-2 col-lg-2">
                                    <option value="-created" {% if args.sort == "-created" %}selected="selected"{% endif %}>Najpierw nowe</option>
                                    <option value="created" {% if args.sort == "created" %}selected="selected"{% endif %}>Najpierw stare</option>
                                    <option value="price" {% if args.sort == "price" %}selected="selected"{% endif %}>Cena rosnąco</option>
                                    <option value="-price" {% if args.sort == "-price" %}selected="selected"{% endif %}>Cena malejąco</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <button type="submit" class="btn btnForHyper mb-2">Szukaj / Filtruj</button>
                            </div>
                        </form>
                    </div>
                    <button class="navbar-toggler d-md-none btnForHyper" type="button" data-toggle="collapse" data-target="#search">
                        <i class="far fa-caret-square-down"></i>
                    </button>
                    {% endif %}
                    </header>

                    <div id="menuMob">
                        <ul class="list-group">
                            <a id="closeBtn">
                                <img id="close" class="align-inline rounded-circle mx-sm-auto" src="{% static "img/close.png" %}"></img>
                            </a>
                            <li class=" text-center">
                                <img class="align-inline rounded-circle mx-sm-auto avatar" src="{{ request.user.extension.get_avatar }}"></img>
                                <a class="" href="#" role="button">{{ request.user.extension.get_name }}</a>
                            </li>
                            <li class="text-center"><a class="mx-auto" href="{% url "my_ads" %}">Moje Ogłoszenia</a></li>
                            <li class="text-center"><a class="mx-auto" href="{% url "commented_ads"%}">Skomentowane ogłoszenia</a></li>
                                {% if request.user.extension.type == "witcher" %}
                                    <li class="text-center"><a class="mx-auto" href="{% url "witchers_stats"%}">Wiedźminśka strona</a></li>
                                {% endif %}
                            <li class="text-center"><a class="mx-auto" href="{% url "add_ad" %}">Dodaj Ogloszenie</a></li>
                            <li class="text-center"><a class="mx-auto" href="{% url "account_edit" %}">Edytuj Profil</a></li>
                            <li class="text-center"><a class="mx-auto" href="{% url "logout" %}">Wyloguj</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body col-md-10 col-11 mx-auto py-3 h-auto">

                {% block content %}
                {% endblock %}

            </div>
        </div>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>

        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/menu.js" %}"></script>
        <script src="{% static "js/validationOfAAdd.js" %}"></script>

    </body>
</html>
