{% extends "witchers/base.html" %}
{% load static %}

{% block title %}Skomentowane ogłoszenia{% endblock %}

{% block content %}
{% include "witchers/pagination.html" with page=posts %}
<div class="float-center">
    <div id="myAdvs" class="p-sm-5 p-2">
        <h2 class="mb-sm-3">Skomentowane ogłoszenia <span class="badge badgeLight">{{ posts.paginator.count }}</span></h2>
        <ul class="list-group">

            {% for post in posts %}
            <li class="list-group-item row d-md-flex justify-content-between align-items-center">
                <div>
                <a href="{{ post.get_absolute_url }}"><p class="card-title my-auto">{{ post.title }}</p></a>
                <p>Stworzono: {{ post.get_created_time }}</p>
                </div>
                <div>
                    Status:
                    <span class="badge badgeLight">{{ post.get_status_display }}</span>
                    Komentarze:
                    <span class="badge badgeLight">{{ post.comments.all.count }}</span>
                </div>
            </li>
            {% empty %}
            <p>Nie skomentowałeś jeszcze żadnych ogłoszeń. </p>
            {% endfor %}

        </ul>
    </div>
</div>
{% include "witchers/pagination.html" with page=posts %}
{% endblock %}
