{% extends "witchers/base.html" %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="details-page-body-container">
    <!-- author part -->
    {% if post.user == request.user %}
        <div>
            <a href="{{ post.get_edit_url }}" class="btn">Edytuj</a>
            <a href="{{ post.get_delete_url }}" class="btn">Usuń</a>
            {% if post.category.name != 'Zlecenie' %}
            <a href="{{ post.get_change_status_url }}" class="btn">Zmień status</a>
            {% endif %}
        </div>

        <!-- author of zlecenie part -->
        {% if post.category.name == "Zlecenie" %}
            {% if post.application and not post.application.is_completed %}
                {% with post.application.user as user %}
                <p>Wiedźmin <a href="{{ user.extension.get_url }}">{{ user.extension.get_name }}</a> wykona dla ciebie to zlecenie!</p>
                {% endwith %}
            {% elif post.application.is_completed and not post.application.rate %}
                Twoje zlecenie zostało wykonane, oceń prace wiedźmina!
                <div class="rating container text-center">
                    <a href="{{ post.get_absolute_url }}rate?rate=1"><span class="fa fa-star"></span></a>
                    <a href="{{ post.get_absolute_url }}rate?rate=2"><span class="fa fa-star"></span></a>
                    <a href="{{ post.get_absolute_url }}rate?rate=3"><span class="fa fa-star"></span></a>
                    <a href="{{ post.get_absolute_url }}rate?rate=4"><span class="fa fa-star"></span></a>
                    <a href="{{ post.get_absolute_url }}rate?rate=5"><span class="fa fa-star"></span></a>
                </div>
            {% elif post.application.is_completed and post.application.rate %}
                Zlecenie wykonane. Oceniłeś prace wiedźmina na {{ post.application.rate }}.
            {% endif %}
        {% endif %}
    {% endif %}

    <!-- Withcer part -->
    {% if post.category.name == "Zlecenie" %}
        {% if post.user != request.user and user.extension.type == 'witcher' %}
        <div>
            {% if not post.application %}
                <a href="{{ post.get_absolute_url }}apply" class="btn">Zgłaszam się do wykonania!</a>
            {% elif post.application.user == request.user %}
                {% if not post.application.is_completed %}
                    <a href="{{ post.get_absolute_url }}cancel_application" class="btn">Zrezygnuj z wykonywania zlecenia.</a>
                    <a href="{{ post.get_absolute_url }}mark_completed" class="btn">Zaznacz jako wykonane.</a>
                {% elif post.application.is_completed and not post.application.rate%}
                    Wykonałeś zlecenie! Czekaj na ocene od autora zlecenia.
                {% elif post.application.is_completed and post.application.rate%}
                    Wykonałeś zlecenie! Autor ocenił twoją pracę na {{ post.application.rate }}.
                {% endif %}
            {% endif %}
        </div>
        {% endif %}
    {% endif %}

    <div class="post-status">
        {% if post.status == 0 %}
        <p>Ogłoszenie aktualne.</p>
        {% else %}
        <p>Nie aktualne</p>
        {% endif %}
    </div>
    <div class="post-header">
        <h2 class="post-title"><img src="{{ post.get_image }}" class="order-img-small">{{ post.title }}</h2>
        <p>Utworzono: {{ post.get_created_time }}</p>
        <p>Autor: <a class="standout-text" href="{{ post.user.extension.get_url }}">{{ post.user.extension.get_name }}</a></p>
    </div>

    <div class="post-description">
        <h3>Opis: </h3>
        <p>{{ post.description }}</p>
    </div>

    <div class="post-details">
        <div class="detail">
            <h3>Kategoria: </h3><p>{{ post.category.name }}</p>
        </div>
        <div class="detail">
            <h3>Cena: </h3><p>{{ post.price }}</p>
        </div>
        {% if post.beast %}
        <div class="detail">
            <h3>Potwór: </h3><p>{{ post.beast.name }}</p>
        </div>
        {% endif %}
    </div>

    <div class="comment-section">
        {% if comments.paginator.count %}
        {% include "witchers/pagination.html" with page=comments %}
        {% for comment in comments %}
        <div class="comment">
            <div class="comment-details"><img src="{{ comment.user.extension.get_avatar }}" class="user-avatar">Uzytkownik
                <b><a class="standout-text" href="{{ comment.user.extension.get_url }}">{{ comment.user.extension.get_name }}</a></b>
                {% if comment.user.extension.type == "witcher" %}
                (Wiedźmin)
                {% endif %}
                napisał <br>{{ comment.get_created_time }}: </div>
            <div class="comment-text">
                {{ comment.text }}
            </div>
        </div>
        {% endfor %}
        {% include "witchers/pagination.html" with page=comments %}

        {% else %}
        <p class="text-muted">Nie ma jeszcze żadnych komentarzy.</p>
        {% endif %}
    </div>

    <form method="post" action="." class="comment-form">
        {% if comment_added %}
        <p>Komentarz został dodany.</p>
        {% endif %}
        <p>Dodaj nowy komentarz:</p>
        {% csrf_token %}
        <div class="textarea-style">
            <p>{{ comment_form.text }}</p>
        </div>
        <p>{{ comment_form.errors }}</p>
        <button type="button" id="bt-comment" class="btn">Dodaj</button>
    </form>
</div>

<script src="{% static "js/details_validation.js" %}"></script>
{% endblock %}
