{% extends "witchers/base.html" %}
{% load static %}

{% block title %}Zmień ogłoszenie{% endblock %}

{% block content %}
<div class="float-center">

    <form id="advForm" method="POST" action="{{ post.get_edit_url }}" class="col-lg-8 mx-lg-auto rounded" enctype="multipart/form-data">
        <h1>Zmień ogłoszenie</h1>
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.category.id_for_label }}">Typ</label>
            {{ form.category }}
            {{ form.category.errors }}
        </div>

        <div class="form-group">
            {{ form.title }}
            {{ form.title.errors }}
            <span class="prompt">Może zawierać litery, cyfry oraz spację. Długość od 5 do 30</span>
        </div>

        <div class="form-group">
            {{ form.price }}
            {{ form.price.errors }}
            <span class="prompt"> Liczba > 0, Format 0.00,12 lub 1,3</span>
        </div>

        <div class="form-group">
            {{ form.image }}
            {{ form.image.errors }}
            <span class="prompt">Lepiej gdy ogłoszenie jest z obrazkiem</span>
        </div>

        <div class="form-group">
            {{ form.description }}
            {{ form.description.errors }}
            <span class="prompt">Dopuszczalne: cyfry,litery,pacje,{,.?!}. Długość od 10 do 100</span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn mb-2">Zachowaj zmiany</button>
        </div>
    </form>

</div>
{% endblock %}
