{% extends "witchers/base.html" %}
{% load static %}

{% block title %}Moje ogłoszenia{% endblock %}

{% block content %}
<h1>Nie możesz usunąć zlecenia które jest aktualnie wykonywane lub jest już wykonane.</h1>
<a href="{{ prev }}"><button class="btn">Cofnij</button></a>
{% endblock %}
