{% extends "witchers/base.html" %}
{% load static %}

{% block title %}Strona główna{% endblock %}

{% block content %}
<h1>Wszystkie ogłoszenia</h1>
{% include "witchers/pagination.html" with page=posts %}
{% for post in posts %}
<div class="card advert mx-auto my-1">
    <div class="row">
        <div class="col-lg-2 col-12">
            <img src="{{ post.get_image }}" class="imgAdv mx-auto d-block rounded">
        </div>
        <div class="card-block  col-lg-10 row">
            <div class="card-block col-lg-8 col-md-8 col-8 py-2 px-2">
                <a href="{{ post.get_absolute_url }}"><h4 class="card-title">{{ post.title }}</h4></a>
                <p class="categoryOfAdv card-text badge  badgeLight p-1">{{ post.category.name }}</p>
                Stworzono: {{ post.get_created_time }}
                <p class="card-text">{{ post.description|truncatechars:100 }}</p>
            </div>
            <div class="card-block text-right col-lg-4 
                                                       my-auto col-md-4 col-4">
                <p class="float-center advPrice badge badgeDark ">{{ post.price }}<i class="ml-1 fab fa-wolf-pack-battalion"></i></p>
            </div>
            <div class="card-block  col-lg-12 pt-3 px-2 col-md-10 col-12">
                Komentarze:
                <p class="badge badgeLight p-1">{{ post.comments.all.count }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% include "witchers/pagination.html" with page=posts %}
{% endblock %}
