{% extends "witchers/base.html" %}
{% load static %}

{% block title %}Moje ogłoszenia{% endblock %}

{% block content %}
{% include "witchers/pagination.html" with page=posts %}
<div class="float-center mx-auto my-1">
    <div id="myAdvs" class="p-sm-5 p-2">
        <h2 class="mb-sm-3">Moje ogłoszenia <span class="badge badgeLight">{{ posts.paginator.count }}</span></h2>
        <ul class="list-group">
            {% for post in posts %}
            <li class="list-group-item row d-lg-flex justify-content-between align-items-center">
                <a href="{{ post.get_absolute_url }}">
                    <p class="card-title my-auto">{{ post.title }}</p>
                </a>
                Stworzono: {{ post.get_created_time }}
                <div class="d-md-flex d-inline  align-items-center">
                    <div>
                        Status:
                        <span class="badge badgeLight">{{ post.get_status_display }}</span>
                        Komentarze:
                        <span class="badge badgeLight">{{ post.comments.all.count }}</span>
                    </div>
                    <div>
                        <a href="{{ post.get_edit_url }}" class="btn btnForHyper">Edytuj</a>
                        <a href="{{ post.get_delete_url }}" class="btn btnForHyper">Usuń</a>
                    </div>
                </div>
            </li>
            {% empty %}
            <p>Nie dodałeś jeszcze żadnych ogłoszeń. <a href="{% url "add_ad" %}"><span class="badge badgeLight">Dodaj
                        pierwsze.</span></a></p>
            {% endfor %}

        </ul>
    </div>
</div>
{% include "witchers/pagination.html" with page=posts %}
{% endblock %}