{% if page.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links mx-auto">
        {% if page.has_previous %}
        <a href="?page={{page.previous_page_number}}"> ← </a>
        {% else %}
        ←
        {% endif %}

        <span class="current">
            {% for i in page.paginator.page_range %}
                {% if i == page.number %}
                <span class="badge badgeLight">  {{ i }}</span>
                {% else %}
                    <a href="?page={{ i }}"><span class="badge"> {{ i }}</span></a>
                {% endif %}
            {% endfor %}
        </span>

        {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}"> → </a>
        {% else %}
        →
        {% endif %}
    </span>
</div>
{% endif %}
