{% extends "witchers/base.html" %}
{% load static %}

{% block title %}Moje ogłoszenia{% endblock %}

{% block content %}
<div class="float-center">
    <div id="myAdvs" class="p-sm-5 p-2">
        <h2 class="mb-sm-3">Ogłoszenia z nowymi komentarzami<span class="badge badge-secondary">{{ posts.count }}</span></h2>
        <ul class="list-group">

            {% for post in posts %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ post.get_absolute_url }}"><p class="card-title my-auto">{{ post.title }}</p></a>
                Stworzono: {{ post.get_created_time }}
                <div>
                    Status:
                    <span class="badge badge-secondary">{{ post.get_status_display }}</span>
                    Komentarze:
                    <span class="badge badge-secondary">{{ post.comments.all.count }}</span>
                </div>
            </li>
            {% empty %}
            <p>Nie ma nowych komentarzy.</p>
            {% endfor %}
        </ul>

        <h2 class="mb-sm-3">Zlecenia które są w trakcie wykonania<span class="badge badge-secondary">{{ posts_with_application.count }}</span></h2>
        <ul class="list-group">
            {% for post in posts_with_application %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ post.get_absolute_url }}"><p class="card-title my-auto">{{ post.title }}</p></a>
                Stworzono: {{ post.get_created_time }}
                <div>
                    Status:
                    <span class="badge badge-secondary">{{ post.get_status_display }}</span>
                    Komentarze:
                    <span class="badge badge-secondary">{{ post.comments.all.count }}</span>
                </div>
            </li>
            {% empty %}
            <p>Twoje zlecenia nie są aktualnie wykonywane.</p>
            {% endfor %}
        </ul>

        <h2 class="mb-sm-3">Zlecenia które czekają na twoją ocene<span class="badge badge-secondary">{{ unrated_posts.count }}</span></h2>
        <ul class="list-group">
            {% for post in unrated_posts %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ post.get_absolute_url }}"><p class="card-title my-auto">{{ post.title }}</p></a>
                Stworzono: {{ post.get_created_time }}
                <div>
                    Status:
                    <span class="badge badge-secondary">{{ post.get_status_display }}</span>
                    Komentarze:
                    <span class="badge badge-secondary">{{ post.comments.all.count }}</span>
                </div>
            </li>
            {% empty %}
            <p>Twoje zlecenia nie są aktualnie wykonywane.</p>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
