{% extends "witchers/base.html" %}
{% load static %}

{% block title %}{{ user.extension.get_name }}{% endblock %}

{% block content %}
{% include "witchers/pagination.html" with page=posts %}
<div class="float-center mx-auto my-1">
    <div id="myAdvs" class="p-sm-5 p-2">
        {% if user.extension.type == "witcher" %}
        <div class="jumbotron text-center bg-dark">
            <h2><img src="{{ user.extension.get_avatar }}" class="user-avatar">{{user.extension.get_name}}</h2>
        </div>

        <div class="jumbotron bg-dark">
            {% if stats %}
            <h1 class="white-header">Statystyka konta</h1>
            <ol class="container">
                <li class="font-weight-bold">Średnia ocena za zlecenie: <span class="badge badge-secondary">{{ stats.rate }}</span></li>
                <li class="font-weight-bold">Ilość wykonanych zleceń: <span class="badge badge-secondary">{{ stats.completed }} / {{ stats.all }}</span></li>
                <li class="font-weight-bold">Ilość rezygnacji ze zleceń: <span class="badge badge-secondary">{{ stats.canceled }}</span></li>
            </ol>
            {% else %}
            <h3>Ten wiedźmin jeszcze nie wykonał żednego zlecenia.</h3>
            {% endif %}
            {% endif %}

            <h2 class="mb-sm-3 white-header">Ogłoszenia użytkownika {{ user.extension.get_name }} <span class="badge badge-secondary">{{ posts.paginator.count }}</span></h2>
            <ul class="list-group">
                {% for post in posts %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{{ post.get_absolute_url }}"><p class="card-title my-auto">{{ post.title }}</p></a>
                    Stworzono: {{ post.get_created_time }}
                    <div>
                        Status:
                        <span class="badge badge-secondary">{{ post.get_status_display }}</span>
                        Komentarze:
                        <span class="badge badge-secondary">{{ post.comments.all.count }}</span>
                    </div>
                </li>
                {% empty %}
                <p>Ten użytkownik jeszcze nie dodał żadnych ogłoszeń.</p>
                {% endfor %}

            </ul>
        </div>
    </div>
</div>
{% include "witchers/pagination.html" with page=posts %}
{% endblock %}
