{% extends "witchers/base.html" %}
{% load static %}

{% block title %}Moje zlecenia{% endblock %}

{% block content %}
<div class="float-center mx-auto my-1">
        <div id="myAdvs" class="p-sm-5 p-2">
            <div class="jumbotron text-center bg-dark">
                <h2><img src="{{ request.user.extension.get_avatar }}" class="user-avatar">{{request.user.extension.get_name}}</h2>
            </div>

            <div class="jumbotron bg-dark">

                {% if stats %}
                <h1 class="white-header">Statystyka konta</h1>
                <ol class="container">
                    <li class="font-weight-bold">Średnia ocena za zlecenie: <span class="badge badge-secondary">{{ stats.rate }}</span></li>
                    <li class="font-weight-bold">Ilość wykonanych zleceń: <span class="badge badge-secondary">{{ stats.completed }} / {{ stats.all }}</span></li>
                    <li class="font-weight-bold">Ilość rezygnacji ze zleceń: <span class="badge badge-secondary">{{ stats.canceled }}</span></li>
                </ol>
                {% else %}
                <h3>Jeszcze nie wykonałeś żednego zlecenia.</h3>
                {% endif %}

                <h1 class="mb-sm-3 white-header">Wykonywane zlecenia<span class="badge badge-secondary">{{ posts.paginator.count }}</span></h1>
                <ul class="list-group">
                    {% for appl in uncompleted %}
                    {% with appl.ad as post %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{ post.get_absolute_url }}"><p class="card-title my-auto">{{ post.title }}</p></a>
                        Stworzono: {{ post.get_created_time }}
                        <div>
                            Status:
                            <span class="badge badge-secondary">{{ post.get_status_display }}</span>
                            Komentarze:
                            <span class="badge badge-secondary">{{ post.comments.all.count }}</span>
                        </div>
                    </li>
                    {% endwith %}
                    {% empty %}
                    <p>Nie wykonujesz w tej chwili zleceń.</p>
                    {% endfor %}
                </ul>

                <h1 class="mb-sm-3 white-header">Wykonane ale nie ocenione zlecenia<span class="badge badge-secondary">{{ posts.paginator.count }}</span></h1>
                <ul class="list-group">
                    {% for appl in unrated %}
                    {% with appl.ad as post %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{ post.get_absolute_url }}"><p class="card-title my-auto">{{ post.title }}</p></a>
                        Stworzono: {{ post.get_created_time }}
                        <div>
                            Status:
                            <span class="badge badge-secondary">{{ post.get_status_display }}</span>
                            Komentarze:
                            <span class="badge badge-secondary">{{ post.comments.all.count }}</span>
                        </div>
                    </li>
                    {% endwith %}
                    {% empty %}
                    <p>Nie ma takich zleceń.</p>
                    {% endfor %}
                </ul>

                <h1 class="mb-sm-3 white-header">Wykonane zlecenia<span class="badge badge-secondary">{{ posts.paginator.count }}</span></h1>
                <ul class="list-group">
                    {% for appl in completed %}
                    {% with appl.ad as post %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{ post.get_absolute_url }}"><p class="card-title my-auto">{{ post.title }}</p></a>
                        Stworzono: {{ post.get_created_time }}
                        <div>
                            Status:
                            <span class="badge badge-secondary">{{ post.get_status_display }}</span>
                            Komentarze:
                            <span class="badge badge-secondary">{{ post.comments.all.count }}</span>
                        </div>
                    </li>
                    {% endwith %}
                    {% empty %}
                    <p>Jeszcze nie wykonałeś żadnego zlecenia.</p>
                    {% endfor %}
                </ul>

            </div>
        </div>

</div>
{% endblock %}
