* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    font-size:100%;
}

body{
    background-color: #282828;
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100%;
}

html, body { height: 100%; }

a{color:#999;}

a:hover{
    color:#999;
    font-style:none; 
}

.textAdv{
    font-size:10px;
    color: #000000;
}

.logo {
    color: #999;
}

.panel-heading{
    color: #999;
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
}

.panel-heading #nameOfSite{
    font-family: 'Witcher';
}

.panel-heading i{
    width:30px;
    height: 30px;
}



input, select,textarea{
        display: inline-block!important;
        -webkit-box-sizing: border-box!important;
        -moz-box-sizing: border-box!important;
        box-sizing: border-box!important;
        padding: 10px 10px;
        overflow: hidden!important;
        color:#999!important;
        border: 0 solid #999!important;
        border-bottom-width: 4px!important;
        -o-text-overflow: clip!important;
        text-overflow: clip!important;
        background-color: rgba(252,252,252,0)!important;
}

input:focus, select:focus,textarea:focus{
    background: rgba(46, 46, 46,1)!important;
}

select option{
    background-color:rgba(46, 46, 46,1)!important;
}


.navbar{
    background-color:#282828 ;
}
.panel-body{
    background-color:#282828 ;
    color: #999;
}

#searchMenu{
    background-color: #282828;
}

#searchForm{
    background-color: #353535;
}

.advert{
    background-color: #353535;
    border-top-color:#999 ;
    border-top-width: 10%;
    opacity:0.9;
    padding: 10px;
    overflow: hidden;
}

.advert:hover{
    background: rgba(46, 46, 46,1);
}

.btnForHyper{
    background-color: #282828!important;
    color:#999!important;
}



.avatar{
    width:40px;
    height: 40px;
}

#panel a{
    text-decoration: none;
    color: #999;
}
.mainmenu {
    font-size:0.7rem;
    background-color: #282828;
    color:#999;
}
#price{
    font-size: medium;
}

#menuMob {
    width: 70%;
    right: -70%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0px;
    font-size:0.8rem;
    transition: all 0.4s ease-in-out;
}
#menuMob.show{
    right: 0px;
    background-color:#282828 ;
    opacity:0.98;
    transition: all 0.4s ease-in-out;
    z-index: 10;
}

#menuMob li{
    opacity:0.98;
    border-left: none;
    border-right: none;
    list-style: none;
    padding: 4%;
}

.white-header {
    color: white;
}

#menuMob li:not(:first-of-type){
    border-top: 1px #999 solid;
}

#menuMob li:hover{
    background-color:#282828 ;
    color:#999;
}

#menuMob a{
    color: #999;
}

#menuMob a:hover{
    text-decoration: none;
    color:#999; 
}

p {
    color: white;
}

#close{
    width:35px;
    height:35px;
    float: left;
}

.badgeDark{
    background-color: #282828!important;
    color:#999!important;
    font-size: 0.4ex;
}

.badgeLight, .badgeNotifi{
   
    background-color:  #999!important;
    color:#282828!important;
}

.badgeNotifi{
position: absolute;
  top: -10px;
  right: -10px;
}

.notification {
    position: relative;
  }

.advPrice{
    font-size: 2.0rem;
}

.categoryOfAdv{
    font-size: 1.1rem;
}
.card-title{
    font-weight: bold;
}
.card-title, .card-text{
    color:#999
}
.obser{
    color:#999!important;
    font-style: inherit;
}

.card-block p:not(.advPrice){
    padding: 0;
    margin: 0;
}

.imgAdv{
    max-width:11vw;
    max-height: 11vw;
}

@font-face {
    font-family: 'Witcher';
    src: url('../fonts/witcher.ttf')  format('truetype'); 
  }

  .post-title {
    font-size: 50px;
      color: white;
}

.post-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    background-color: #656869;
    border-bottom: 1px solid #252525;
}

.post-description, .post-details {
    /*width: 100%;*/
    /*height: auto;*/
    border-radius: 5px;
    margin-top: 2px;
    padding: 5px;
    /*align-items: center;*/
    background-color: #656869;
    display: block;
    /*border-bottom: 1px solid #b9bdbe;*/
    /*padding-left: 5px;*/
    width: 100%;
    height: 20%;
}

.post-details {
    flex-direction: column;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

.post-status {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #a3eb98;
}

.post-status p {
    margin: 0;
    color: #f2f6f7;
    font-weight: bold;
}

.post-description p {
    margin-left: 5px;
    margin-top: 10px;
}

.details-page-body-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}

.comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2%;
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comment {
    display: flex;
    width: 80%;
    justify-content: space-between;
    background-color: #656869;
    border-bottom: 1px solid #252525;
    padding: 1%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.edebtn {
    display: flex;
    justify-content: center;
    bottom: 0;
    right: 0;
    width: 100%;
    min-width: 300px;
    background-color: #656869;
}

.edebtn .btn {
    border-radius: 0;
    border-right: 2px solid #656869;
}

.comment-form li {
    list-style-type: none;
    color: black;
    border-radius: 5px;
    padding: 5px;
    background-color: #E74C3C;
}

.order-img-small {
    height: 100px;
}

.checked {
    color: orange;
}

.rating {
    width: 100%;
}

.comment-details, .comment-text {
    padding: 1%;
    border-radius: 5px;
    background-color: #999d9e;
    border-bottom: 1px solid #b9bdbe;
    color: white;
}

.standout-text {
    color: white;
}

.btn {
    background-color: #a3eb98;
    color: black;
}

.comment-details {
    width: 40%;
    text-align: center;
}

.detail {
    display: flex;
    width: 100%;
}

.detail p {
    margin-left: 5px;
}

.comment-text {
    width: 55%;
    overflow: auto;
}

#user-span {
    font-weight: bold;
}

.textarea-style {
    background-color: rgba(153, 157, 158, 0.56);
}

@media only screen and (max-width: 767px) {
    .post-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .edebtn {
        min-width: 150px;
    }

    .post-title {
        font-size: 25px;
        text-align: center;
    }

    .comment {
        width: 100%;
    }

    .comment-form li {
        max-width: 250px;
        margin: 0 auto;
    }

    #bt-comment {
        margin-left: 100px;
    }
}

@media only screen and (max-width: 600px)  {
    .advPrice{
        font-size: 1.0rem;
        float: center;
    }
}

@media only screen and (max-width: 992px)  {
 
    .imgAdv{
        max-width:50vw;
        max-height: 50vw;
    }
}
