#myAdvs, #myOrders{
    color:#999;
    background-color: #282828;
}


.views{
    width:20px;
    height:20px;
}

.list-group-item{
        background-color: #353535;
        border-top-color: #999;
}

.list-group-item input{
    background-color:     #999;
    border-top-color: #353535;
}

.list-group-item:hover{
    background-color:rgba(46, 46, 46,1);
    border-top-color: #999;
}
