* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*Mobile first styles*/

html {
    height: 100%;
}

body {
    background-color: #282828;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
}

#accedit-h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-panel-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-panel-navi {
    display: flex;
    width: 100%;
    height: 60px;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(250, 254, 255, 0.5);
}

.register-panel-navi a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.register-panel-navi a:hover {
    animation: anim-unique 0.2s;
}

.register-panel-navi .unactive {
    background-color: rgba(5, 5, 6, 0.2);
    transition: background-color .3s ease;
}

.register-panel-navi .unactive:hover {
    background-color: rgba(250, 254, 255, 0.6);
    transition: background-color .3s ease;
}

@keyframes anim-unique {
    0% {
        font-size: 1em;
    }

    50% {
        font-size: 1.05em;
    }

    100% {
        font-size: 1em;
    }
}

.register-panel-navi a li {
    list-style: none;
}

.register-panel-navi > a:link,
.register-panel-navi > a:checked,
.register-panel-navi > a:active,
.register-panel-navi > a:visited {
    color: #44464a;
    text-decoration: none;
    outline: none;
    font-weight: 600;
}

.active {
    background-color: #ecf0f1;
}

.register-panel-body {
    background-color: #ecf0f1;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding: 10%;
}

.form-inline-group {
    display: flex;
    justify-content: space-around;
}

label, h3 {
    font-weight: 600;
    font-size: 1.1em;
    margin-bottom: 2%;
}

h3 {
    background-color: #AFC68C;
    padding: 5% 0 5% 2%;
}

.register-panel-body .form-group {
    margin-top: 10px;
}

.register-panel-body .form-group:first-of-type {
    margin-top: 0;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.account-type-group {
    background-color: #dde1e2;
    border-bottom: 1px solid #bcc0c1;
    padding: 2%;
}

input[type=text], input[type=password], input[type="email"] {
    border: none;
    width: 100%;
    height: 40px;
    font-size: 1.1em;
    padding-left: 5px;
}

input[type=radio] {
    outline: none;
}

.empty {
    background-color: unset;
}

button, .btn a {
    width: 130px;
    height: 40px;
    font-size: 20px;
    border: none;
    margin-top: 20px;
    background-color: #e74c3c;
    border-radius: 5%;
    color: #ecf0f1;
    text-decoration: none;
    outline: none;
}

.error-text {
    color: #e74c3c;
    font-weight: 600;
    display: none;
}

.errorlist {
    list-style-type: none;
    color: #e74c3c;
    font-weight: 600;
    display: block;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

#bt-back {
    margin-left: 2%;
}

#bt-submit {
    position: relative;
}

.no-passwd {
    text-decoration: none;
    margin-top: 2%;
    color: #44464a;
    outline: none;
}

.account-delete-group {
    padding-bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.delete-link {
    color: #44464a;
}

/*Desktop Media Query*/
@media only screen and (min-width: 1024px) {
    body {
        background-attachment: fixed;
        background-image: url('../img/bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .register-panel-container {
        align-items: center;
        padding: 8% 0 8% 0;
    }

    .register-panel-body {
        height: auto;
        opacity: 0.98;
    }

    .register-panel {
        width: 50%;
    }

    form {
        padding: 5%;
    }

    input[type="text"], input[type="password"], input[type="email"] {
        width: 70%;
    }
}
