@font-face {
  font-family: "Witcher";
  src: url('../fonts/witcher.ttf')  format('truetype');
}

.padding-0 { padding: 0 !important; }

.animate-bounce {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

* { box-sizing: border-box; font-family: Raleway; }

html, body { height: 100%; max-width: 100%; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  /*align-items: center;*/
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

#lp-header
{
	background: #282828;
	position: relative;
}

#lp-header .logo
{
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	z-index: 2;
}

#lp-header p
{
	font-family: Witcher !important;
	color: white;
	text-align: center;
}

.chevron
{
	position: absolute;
	bottom: 2rem;
	left: 0;
	width: 100%;
	text-align: center;
	color: white;
	z-index: 2;
	font-size: 2rem;
	opacity: .8;
}

.chevron a, .chevron a:active, #lp-example .chevron a:hover, #lp-example .chevron a:visited, .login-info-wrapper a:visited
{
	color: #999;
}

.login-info-wrapper a, .login-info-wrapper a:active, .login-info-wrapper a:hover
{
	color: #bbb;
	font-size: 3rem;
}

.carousel-fade {
    .carousel-inner {
        .carousel-item {
            transition-property: opacity;
        }
        
        .carousel-item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }
}

.carousel, 
.carousel-inner, 
.carousel-inner .carousel-item {
    height: 100%;
	z-index: 1;
}

.carousel-item:nth-child(1) {
    background: url('../img/bg1.jpg');
	background-size: cover;
	background-position: center;
}

.carousel-item:nth-child(2) {
    background: url('../img/bg2.jpg');
	background-size: cover;
	background-position: center;
}

.carousel-item:nth-child(3) {
    background: url('../img/bg3.jpg');
	background-size: cover;
}

#lp-description, #lp-example, #lp-contact
{
	min-height: 20rem;
}

#lp-description
{
	background: #282828;
}

#lp-description .aspect-box
{
	border: 1px solid #2e2e2e;
	border-top: 4px solid #ecf0f1;
	border-radius: 0.2rem;
	min-height: 5rem;
	background: #353535;
	padding: 2rem;
	color: #999;
	margin-bottom: 2rem;
}

#lp-description .aspect-box:hover h5, #lp-description .aspect-box:hover i { color: #ecf0f1; }

#lp-description .aspect-box:hover { background: #2e2e2e; }

#lp-description .aspect-box p, #lp-description .aspect-box h5
{
	text-align: center;
}

#lp-description .aspect-box i
{
	margin-bottom: 2rem;
	text-align: center;
	width: 100%;
}

#lp-description h1
{
	width: 100%;
}

.title
{
	margin-bottom: 2rem !important;
	color: #999;
}

.spacer-1, .spacer-2
{
	width: 100%;
	height: 10rem;
}

.spacer-1
{
	background: url('../img/spacer1.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.spacer-2
{
	background: url('../img/spacer2.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

#lp-contact
{
	background: #282828;
}

.card-body .price { font-size: 2.5rem; font-weight: bold; }

.card-body
{
	min-height: 10rem !important;
    max-height: 10rem !important;
}

#lp-example .card
{
	width: 100% !important;
	margin-bottom: 1rem;
	background: #353535;
}

#lp-example .card p, #lp-example .card h5, #lp-example .card a:active, #lp-example .card a:hover, #lp-example .card a:visited, .card-title a, .card-title a:active, .card-title a:hover, .card-title a:visited
{
	color: #999;
}

.card-title
{
	font-weight: bold;
}

#lp-example .btn-buynow
{
	background: #282828;
	color: #999;
}

#lp-example
{
	padding: 3rem .5rem;
	position: relative;
	z-index: 1;
	background: #282828;
}

.test-row
{
	margin: auto !important;
}

#lp-example .login-gradient
{
	position: absolute;
	background: url('../img/gradient.png');
	background-size: cover;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 30rem;
	z-index: 2;
}

#lp-example .login-info-wrapper
{
	width: 100%;
	height: 100%;
	position: relative;
}

#lp-example .login-info-wrapper p
{
	width: 100%;
	position: absolute;
	bottom: 30px;
	left: 0;
	text-align: center;
	padding: 1rem;
	color: #999;
}

#lp-example .input-group *
{
	border: none;
	color: #999;
}

#lp-example .input-group-text
{
	background: #353535;
}

#lp-example input[type=text]
{
	background: #353535;
}

#lp-example form
{
	margin-bottom: 2rem;
}

#lp-contact
{
	color: #999;
	padding: 3rem .5rem;
}

#lp-contact h1
{
	font-family: Witcher;
}

#lp-contact h2
{
	margin-bottom: 3rem;
	text-align: center;
}

#lp-contact input[type=text], #lp-contact textarea
{
	background: transparent;
	color: #999;
	border: none;
	border-bottom: 2px solid #999;
	border-radius: 0;
	padding: 1rem;
	margin-bottom: 1rem;
}

#lp-contact .form button[type=submit]
{
	border: 2px solid #999;
	background: transparent;
	color: #999;
	margin-top: 3rem;
}

#lp-contact .form button[type=submit]:hover
{
	background: #999;
	color: #282828;
}

.card-img
{
    background-size: cover !important;
    height: auto;
    width: 100%;
    max-height: 20rem;
    min-height: 20rem;
    background-position: center!important;
}
