{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "css/styles.css" %}?rnd=2">
        <link rel="stylesheet" href="{% static "css/animate.css" %}">
        <script src="{% static "js/wow.js" %}"></script>
		<script>new WOW().init();</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <script src="{% static "js/main.js" %}"></script>
		<title>Witcherolx</title>
	</head>
	<body>
		<div class="container-fluid h-100 padding-0" id="lp-header">
			<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000" data-pause="false">
				<div class="carousel-inner">
					<div class="carousel-item active">
						
					</div>
					<div class="carousel-item">
						
					</div>
					<div class="carousel-item">
						
					</div>
				</div>
				<div class="container-fluid logo">
					<div class="row justify-content-md-center">
						<div class="col-md-8 col-sm-12">
							<p>The Witcherolx</p>
						</div>
					</div>
				</div>
				<div class="chevron animate-bounce bounce">
					<a href="#lp-description"><i class="fas fa-chevron-down"></i></a>
				</div>
			</div>
			
		</div>
		<div class="container-fluid" id="lp-description">
			<h1 class="text-center title wow zoomIn">A CO JA TU MOGĘ ROBIĆ?</h1>
			<div class="row">
				<div class="col-xs-10 col-sm-10 col-md-10 mx-auto">
					<div class="row">
						<div class="col-xl-3 col-md-6 col-12">
							<div class="row">
								<div class="col-xs-12 col-sm-10 aspect-box aspect1 mx-auto wow flipInX">
									<i class="fas fa-dollar-sign fa-3x"></i><br/>
									<h5>Sprzedawaj</h5>
									<p>Masz jakieś przedmioty, które Ci tylko zalegają? Wystaw ogłoszenie i pozbądź się ich raz na zawsze.</p>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6 col-12">
							<div class="row">
								<div class="col-xs-12 col-sm-10 aspect-box aspect2 mx-auto wow flipInX">
									<i class="fas fa-shopping-cart fa-3x"></i><br/>
									<h5>Kupuj</h5>
									<p>Nasza baza zawiera wiele ogłoszeń sprzedaży przedmiotów. Na pewno znajdziesz coś dla siebie!</p>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6 col-12">
							<div class="row">
								<div class="col-xs-12 col-sm-10 aspect-box aspect3 mx-auto wow flipInX">
									<i class="fas fa-clipboard-list fa-3x"></i><br/>
									<h5>Zlecaj</h5>
									<p>Kiedy napotkasz na swojej drodze bestię nie do pokonania, wystaw zlecenie. Wiedźmin się odezwie.</p>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6 col-12">
							<div class="row">
								<div class="col-xs-12 col-sm-10 aspect-box aspect4 mx-auto wow flipInX">
									<i class="fas fa-skull fa-3x"></i><br/>
									<h5>Wykonuj zlecenia</h5>
									<p>Jesteś Wiedźminem i szukasz wiecznej chwały? Wykonuj zlecenia na bestie i zdobywaj nagrody.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid spacer spacer-1">
			
		</div>
		<div class="container-fluid" id="lp-example">
			<h1 class="text-center title wow zoomIn">Ostatnio dodane przedmioty:</h1>
			<div class="row justify-content-md-center test-row">
				<div class="col-xl-8 col-md-12 col-sm-12">
					<div class="row cards">

                        {% for post in posts %}
                        <div class="col-xl-4 col-md-6 col-12 wow fadeIn"> 
                            <div class="card">
								<div class="card-img" style="background: url('{{ post.get_image }}')"></div>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                                    <p class="card-text">{{ post.description|truncatechars:100 }}</p>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="price"><i class="fab fa-wolf-pack-battalion"></i>{{ post.price }}</p>
                                        </div>
                                        <div class="col-12">
                                            <a href="{{ post.get_absolute_url }}"<button type="button" class="btn btn-buynow btn-lg btn-block">Kup teraz</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

					</div>
				</div>
			</div>
			<div class="login-gradient">
				<div class="login-info-wrapper">
                    <p><a href="{% url "login" %}">Zaloguj się</a>, lub <a href="{% url "registration" %}">załóż konto</a> aby zobaczyć więcej wyników!</p>
				</div>
			</div>
		</div>
		<div class="container-fluid spacer spacer-2"></div>
		<div class="container-fluid" id="lp-contact">
			<div class="row justify-content-md-center test-row">
				<div class="col-md-8 col-sm-12">
					<div class="row">
						<div class="col-md-6 col-sm-12 d-flex align-items-center">
							<h1>The Witcherolx</h1>
						</div>
						<div class="col-md-6 col-sm-12 form">
							<form action="." method="post">
                                {% csrf_token %}
								<div class="row">
									<div class="col">
										<h2>Skontaktuj się z nami</h2>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 col-sm-12">
										<input type="text" class="form-control" id="name" name="name" placeholder="Imię">
									</div>
									<div class="col-md-6 col-sm-12">
										<input type="text" class="form-control" id="email" name="email" placeholder="Adres e-mail">
									</div>
								</div>
								<div class="row">
									<div class="col">
										<textarea class="form-control" id="message" name="message" rows="1" placeholder="Twoja wiadomość..."></textarea>
									</div>
								</div>
								<div class="row">
									<div class="col text-center">
										<button type="submit" class="btn btn-primary mb-2">Wyślij wiadomość</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
