{% extends "registration/base.html" %}
{% load static %}

{% block title %}Usunięcie konta{% endblock %}

{% block content %}
<div class="register-panel-container">
    <div class="register-panel">
        <ul class="register-panel-navi">
            <a class="active" href="#">
                <li>
                    Usunięcie konta
                </li>
            </a>
            <a href=""logout" %}">
            </a>
        </ul>
        <div class="register-panel-body">
            <form>
                <div class="form-group">
                    <h3>Konto zostało usunięte. Dziękujemy za korzystanie z naszej strony.</h3>
                </div>
            </form>
        </div>

    </div>
</div>
</div>
{% endblock %}
