{% extends "registration/base.html" %}
{% load static %}

{% block title %}Zmiana danych{% endblock %}

{% block content %}
<div class="register-panel-container">
    <div class="register-panel">
        <ul class="register-panel-navi">
            <a class="active" href="#">
            <li>
                Zmiana danych
            </li>
            </a>
            <a class="unactive" href="{% url "logout" %}">
                <li>
                    Wyloguj się
                </li>
            </a>
        </ul>
        <div class="register-panel-body">
            <form action="." method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <h2 id="accedit-h2">Twój login to {{ username }}<a href="{% url "my_ads" %}"><button type="button" class="btn" id="bt-back">Cofnij</button></a></h2>
                </div>

                {% csrf_token %}
                <input type="hidden" name="form_name" value="account_edit">

                {% if user_changed %}
                <h3>Twoje dane zostały zmienione.</h3>
                {% endif %}


                <div class="form-group">
                    <label for="{{ user_form.email.id_for_label }}">Email</label>
                    {{ user_form.email }}
                    {{ user_form.email.errors }}
                    <div class="error-text">
                        Proszę wprowadzić swój e-mail!
                    </div>
                </div>
                <!-- TODO! -->
                <div class="form-group">
                    <label for="{{ form.fullname.id_for_label }}">Imię i nazwisko</label>
                    {{ form.fullname }}
                    {{ form.fullname.errors }}
                    <div class="error-text">
                        Proszę wprowadzić imię i nazwisko. Dozwolone są tylko litery!
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.avatar.id_for_label }}">Avatar</label>
                    {{ form.avatar }}
                    {{ form.avatar.errors }}
                </div>

                <div class="buttons-container">
                    <button type="button" class="btn" id="form1bt">Zmień</button>
                </div>
            </form>

            <form action="." method="post">
                {% csrf_token %}
                <input type="hidden" name="form_name" value="password_change">

                {% if password_changed %}
                <h3>Twoje hasło zostało zmienione.</h3>
                {% endif %}

                <div class="form-group">
                    <label for="{{ form_password.old_password.id_for_label }}">Stare hasło</label>
                    {{ form_password.old_password }}
                    {{ form_password.old_password.errors }}
                    <div class="error-text">
                        Proszę wprowadzić swoje aktualne hasło!
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form_password.new_password1.id_for_label }}">Nowe hasło</label>
                    {{ form_password.new_password1 }}
                    {{ form_password.new_password1.errors }}
                    <div class="error-text">
                        Hasło może zawierać tylko litery (duże i małe) oraz cyfry i musi posiadać minimum 8 znaków!
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form_password.new_password2.id_for_label }}">Powtórz hasło</label>
                    {{ form_password.new_password2 }}
                    {{ form_password.new_password2.errors }}
                    <div class="error-text">
                        Powtórzone hasło musi być identyczne!
                    </div>
                </div>

                <div class="buttons-container">
                    <button type="button" class="btn" id="form2bt">Zmień</button>
                    <a href="{% url "my_ads" %}"><button type="button" class="btn" id="bt-back">Cofnij</button></a>
                </div>
            </form>

            <div class="account-delete-group">
                    <a href="{% url "account_delete" %}" class="delete-link">Kliknij tutaj jeżeli chcesz trwalie usunąć to konto.</a>
            </div>

        </div>
    </div>
</div>
<script src="{% static "js/account_edit.js" %}"></script>
{% endblock %}
