{% extends "registration/base.html" %}
{% load static %}

{% block title %}Usunięcie konta{% endblock %}

{% block content %}
<div class="register-panel-container">
    <div class="register-panel">
        <ul class="register-panel-navi">
            <a class="active" href="#">
                <li>
                    Usunięcie konta
                </li>
            </a>
            <a class="" href="#"logout" %}">
            </a>
        </ul>
        <div class="register-panel-body">
            <form>
                <div class="form-group">
                    <h2>Usunięcie konta</h2>
                    Czy napewno chcesz usunąć konto 
                        {% if user.extension.type == "customer" %}
                        klienta
                        {% else %}
                        wiedźmina
                        {% endif %}
                        o takich danych?
                        <ul>
                            <li><b>Login:</b> {{ user.username }}</li>
                            <li><b>Email:</b> {{ user.email }}</li>
                            <li><b>Typ konta:</b> {{ user.extension.get_type_display }}</li>
                        </ul>
                        <h2>Uwaga!</h2>
                        Jest to operacja trwała i nie będziesz mógł w żaden sposób przywrócić to konto i wszytkie dane które są z nim powiązane! Usuwamy również stworzone ogłoszenia, komentarze i wszystko inne co jest powiązane z tym kontem.
                </div>

                <div class="buttons-container">
                    <a href="{% url "account_delete_done" %}"><button type="button" class="btn" id="bt-back">Tak, usunąć</button></a>
                    <a href="{% url "account_edit" %}"><button type="button" class="btn" id="bt-back">Cofnij</button></a>
                </div>

            </form>
        </div>

    </div>
</div>
</div>
{% endblock %}
