{% extends "registration/base.html" %}

{% block title %}Wylogowałeś się{% endblock %}

{% block content %}
<div class="register-panel-container">
    <div class="register-panel">
        <ul class="register-panel-navi">
            <a class="unactive" href="{% url "login" %}">
                <li>
                    Zaloguj się
                </li>
            </a>
            <a class="unactive" href="{% url "registration" %}">
            <li>
                Zarejestruj się
            </li>
            </a>
        </ul>
        <div class="register-panel-body">
            <form action="." method="post">
                <h3>Zostałeś poprawnie wylogowany.</h3>
                <div class="buttons-container">
                    <button type="button" class="btn">
                        <a href="{% url "login" %}">Zaloguj się</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
