{% extends "registration/base.html" %}

{% block title %}Logowanie{% endblock %}

{% block content %}
{% load static %}
<div class="register-panel-container">
    <div class="register-panel">
        <ul class="register-panel-navi">
            <a class="active" href="#">
                <li>
                    Zaloguj się
                </li>
            </a>
            <a class="unactive" href="{% url "registration" %}">
            <li>
                Zarejestruj się
            </li>
            </a>
        </ul>
        <div class="register-panel-body">
            <form action="." method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">

                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Login</label>
                    {{ form.username }}
                    {{ form.username.errors }}
                    <div class="error-text">
                        Proszę wprowadzić poprawny login.
                    </div>
                    {% if error %}
                     <div class="errorlist">
                         {{ error }}
                    </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}">Hasło</label>
                    {{ form.password }}
                    {{ form.password.errors }}
                    <div class="error-text">
                        Proszę wprowadzić poprawne hasło.
                    </div>
                </div>

                <!-- TODO -->
                <a class="no-passwd" href="{% url "password_reset" %}">Zapomniałem hasła!</a>

                <div class="buttons-container">
                    <button type="button" class="btn" id="bt-login">Zaloguj!</button>
                    <a href="{% url "landing" %}"><button type="button" class="btn" id="bt-back">Cofnij</button></a>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static "js/login.js" %}"></script>
    </div>
{% endblock %}
