{% extends "registration/base.html" %}

{% block title %}Przypomnienie hasła{% endblock %}

{% block content %}
<div class="register-panel-container">
    <div class="register-panel">
        <ul class="register-panel-navi">
            <a class="active" href="#">
                <li>
                    Przypomnienie hasła
                </li>
            </a>
            <a class="unactive" href="{% url "registration" %}">
                <li>
                    Zarejestruj się
                </li>
            </a>
        </ul>
        <div class="register-panel-body">
            <form action="." method="post">
                <h3>Sprawdź swoją skrzynkę e-mail.<br>
                Instrukcja zmiany hasła została wysłana.</h3>

                <div class="buttons-container">
                    <button type="button" class="btn">
                        <a href="{% url "login" %}">Ok<a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
