{% extends "registration/base.html" %}

{% block title %}Resetowanie hasła{% endblock %}

{% block content %}
<div class="register-panel-container">
    <div class="register-panel">
        <ul class="register-panel-navi">
            <a class="active" href="#">
            <li>
                Przypomnienie hasła
            </li>
            </a>
            <a class="unactive" href="{% url "logout" %}">
                <li>
                    Wyloguj się
                </li>
            </a>
        </ul>
        <div class="register-panel-body">
            <form action="." method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>

                <div class="buttons-container">
                    <button type="submit" class="btn">Wyślij!</button>
                    <a href="{% url "login" %}"><button type="button" class="btn" id="bt-back">Cofnij</button></a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
