{% extends "registration/base.html" %}

{% block title %}Zmiana hasła{% endblock %}

{% block content %}
<div class="register-panel-container">
    <div class="register-panel">
        <ul class="register-panel-navi">
            <!-- TODO!!!! -->
            <a class="active" href="#">
            <li>
                Zmiana hasła
            </li>
            </a>
            <a class="unactive" href="{% url "logout" %}">
                <li>
                    Wyloguj się
                </li>
            </a>
        </ul>
        <div class="register-panel-body">
            <form action="." method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label for="{{ form.new_password1.id_for_label }}">Nowe hasło</label>
                    {{ form.new_password1 }}
                    {{ form.new_password1.errors }}
                </div>

                <div class="form-group">
                    <label for="{{ form.new_password2.id_for_label }}">Powtórz hasło</label>
                    {{ form.new_password2 }}
                    {{ form.new_password2.errors }}
                </div>

                <div class="buttons-container">
                    <button type="submit" class="btn">Zmień</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
