{% extends "registration/base.html" %}

{% block title %}Rejestracja{% endblock %}

{% block content %}
<div class="register-panel-container">
    <div class="register-panel">
        <ul class="register-panel-navi">
            <a class="unactive" href="{% url "login" %}">
                <li>
                    Zaloguj się
                </li>
            </a>
            <a class="active" href="#">
            <li>
                Zarejestruj się
            </li>
            </a>
        </ul>
        <div class="register-panel-body">
            <form action="." method="post">
                <h3>Rejestracja powiodła się. Możesz teraz załogować się.<br>
                    Twój login to {{ new_user.username }}.<br>
                    Masz konto 
                    {% if user_type == "customer" %}
                        klienta.
                    {% else %}
                        wiedźmina.
                    {% endif %}
                </h3>
                <div class="buttons-container">
                    <button type="button" class="btn">
                        <a href="{% url "login" %}">Zaloguj się</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
