{% extends "registration/base.html" %}
{% load static %}

{% block title %}Rejestracja{% endblock %}

{% block content %}
<div class="register-panel-container">
    <div class="register-panel">
        <ul class="register-panel-navi">
            <a class="unactive" href="{% url "login" %}">
                <li>
                    Zaloguj się
                </li>
            </a>
            <a class="active" href="#">
                <li>
                    Zarejestruj się
                </li>
            </a>
        </ul>
        <div class="register-panel-body">
            <form action="." method="post">
                {% csrf_token %}
                <div class="form-group account-type-group">
                    <label>Typ konta</label>
                    <!--    Account type options-->
                    <div class="form-inline-group">
                        {% for radio in form.user_type %}
                        <div class="inline-group ">
                            {{ radio }}
                        </div>
                        {% endfor %}
                    </div>
                    <div id="accountTypeHelpText" class="muted-form-text">
                        Powiedz nam kim jesteś! Wiedźminem? A może szukasz wiedźmina, aby dokonać zemsty na potworze?
                    </div>
                </div>
                <!--    Login input-->
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Login</label>
                    {{ form.username }}
                    {{ form.username.errors }}
                    <div class="error-text">
                        Login musi posiadać od 2 do 20 liter, cyfr lub znaków: '-', '_',<br> przy czym nie może się od nich zaczynać!
                    </div>
                </div>
                <!--    Email input-->
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email }}
                    {{ form.email.errors }}
                    <div class="error-text">
                        E-mail nie może:<br>
                        1. Ropozczynać się lub kończyć kropką.<br>
                        2. Zawierać spacji.<br>
                        3. Zawierać znaków specjalnych (<:,*itp.).<br>
                        4. Np: abc@xyz.pl
                    </div>
                </div>
                <!--    Password input-->
                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}">Hasło</label>
                    {{ form.password }}
                    {{ form.password.errors }}
                    <div class="error-text">
                        Hasło może zawierać tylko litery (duże i małe) oraz cyfry i musi posiadać minimum 4 znaki!
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}">Powtórz hasło</label>
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                    <div class="error-text">
                        Powtórzone hasło musi być identyczne!
                    </div>
                </div>
                <div class="buttons-container">
                    <button type="button" class="btn" id="bt-submit">Zarejestruj</button>
                    <a href="{% url "landing" %}"><button type="button" class="btn" id="bt-back">Cofnij</button></a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{% static "js/register_form.js" %}"></script>
{% endblock %}
